.pad{
    margin-left:10px;
 }

.header{
    background-color: rgb(231, 231, 239);
    height: 3rem;
    font-size: 20px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}