/* table {
  border: 1px solid;


}

th {
  font-size: 32px;
  border: 1px solid;
  background-color: blanchedalmond;
} */

/* .pad{
  padding-left:2px;
}

tr:hover {
  background-color: rgb(176, 183, 196);
}

td {

  border: 1px solid;
  height: 50px;
  vertical-align: center;
  font-size: 25px;
  padding:25px,5px;

}

table {
  width: 100%;
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;

} */

/* button {
  background-color: rgb(54, 223, 32);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  justify-content: center;

  border-radius: 5mm;
 
 
  font-size: 15px;
}

button:hover {
  background-color: red;
  color: white;
} */

li {
  text-decoration: none;
  color: azure;

}

li:hover {

  font-size: 20px;

}


.forms {
  color: white;
  margin-left: 200px;
  background-color: rgb(226, 102, 80);
  border-radius: 5mm;
  height: fit-content;
  width: fit-content;
  justify-content: center;

}

.stylefrom {
  background-image: url('/train.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 1500px 1080px; */
  height: 100vh;

  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;

}

Link {
  text-decoration: none;

}

.box {
  height: 6mm;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: right;
  justify-content: right;
}

h3{
  color: black;
}


.SearchBar{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
 

}
.SearchInput{
  height: 2rem;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
 
  
}

#customers tr:nth-child(even){
  background-color: #f2f2f2;
  
}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}